.App {
  position: absolute;
  width: 341px;
  height: 60px;
  left: -1px;
  top: 0px;
  text-align: center;
  background: #CECECE;
}

h1 {
width: 308px;
height: 39px;
left: 16px;
top: 11px;
font-family: Gotham;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 31px;
text-transform: uppercase;
color: #000000;
}

#root {
  position: absolute;
  text-align: center;
  width: 340px;
  height: 520px;
  left: 396px;
  top: 84px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}