.titelName {
  
position: absolute;
width: 141px;
height: 16px;
left: 182px;
top: 172px;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;
}

.myTitel {

    position: absolute;
    width: 142px;
    height: 40px;
    left: 181px;
    top: 200px;
    
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    border-radius: 4px;
}